<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<div class="logo-search-container">

  <div class="image-container">
    <%= image_tag("main-image") %>
  </div>

  <div class="lettering-container">
    <h1>nano</h1>
    <p>non-alcoholic nights out</p>
    <%= form_with url: activities_path, method: :get, class: "d-flex search-form" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an activity..."
      %>
      <%#= submit_tag "Search", class: "button-search" %>
      <%= button_tag(type: "submit", class: "button-search") do %>
        <i class="fa-solid fa-lg fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="tonight-container">
  <div class="margin-container"><h3>tonight</h3></div>
  <div class="carousel-home" data-flickity='{ "wrapAround": true, "autoPlay": true, "pageDots": false}'>

    <% 10.times do %>
      <%= link_to "#" do %>
        <div class="card-category carousel-cell-home">
          <p class="centered">Activity Name</p>
          <img class="w3-image" src="https://m.media-amazon.com/images/I/51BL4Cpt8tL._AC_.jpg">
        </div>
      <% end %>
    <% end %>

    <!-- Previous version of card
    <div class="carousel-cell-home">
      <img class="w3-image" src="https://www.superprof.co.uk/blog/wp-content/uploads/2019/05/great-wave-off-kanagawa.jpg">
    </div>-->
  </div>
</div>


<div class="margin-container"><h3>popular</h3></div>
<div class="explore-container">

  <div class="category-card-container">
    <%= link_to activities_path(query: "sport") do %>
      <div class="card-category" style="background-image: url(<%= asset_path 'sport.png' %>);">
        <p>sport</p>
      </div>
    <% end %>

    <%= link_to activities_path(query: "nature") do %>
      <div class="card-category" style="background-image: url(<%= asset_path 'nature.png' %>);">
        <p>nature</p>
      </div>
    <% end %>

    <%= link_to activities_path(query: "animals") do %>
      <div class="card-category" style="background-image: url(<%= asset_path 'animals.png' %>);">
        <p>animals</p>
      </div>
    <% end %>

    <%= link_to activities_path(query: "music") do %>
      <div class="card-category" style="background-image: url(<%= asset_path 'music.png' %>);">
        <p>music</p>
      </div>
    <% end %>

    <%= link_to activities_path(query: "art") do %>
      <div class="card-category" style="background-image: url(<%= asset_path 'art.png' %>);">
        <p>art</p>
      </div>
    <% end %>

    <%= link_to activities_path(query: "fun") do %>
      <div class="card-category" style="background-image: url(<%= asset_path 'misc.png' %>);">
        <p>fun</p>
      </div>
    <% end %>

    <!-- Previous version of card
    <%= link_to activities_path(query: "team") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(255,0,0,0), rgba(,0,0,1)), url('https://assets.entrepreneur.com/content/3x2/2000/20151215195453-business-leader-group-front-leadership-team-professionals-businesspeople.jpeg');">
    <p>team</p>
      <%# <img class="genre-image" src="https://assets.entrepreneur.com/content/3x2/2000/20151215195453-business-leader-group-front-leadership-team-professionals-businesspeople.jpeg"> %>
    </div>
    <% end %>-->
  </div>
</div>

<div class="margin-container"><h3>near me</h3>
  <div class="nearme-container">

    <div class="map-container">
      <div id='map' style='width: 100%; height: 100%;'>
        <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/kiranjaimon/clb56wwzg001115oh02yamb6t.html?title=false&access_token=pk.eyJ1Ijoia2lyYW5qYWltb24iLCJhIjoiY2xiM2t3YW92MGE1cTN3bXR2cXI3a2xzaiJ9.lRdocb8U5mw1CVf3mW7BpQ&zoomwheel=false#11/51.507/-0.120" title="Navigation" style="border:none;"></iframe>
      </div>
    </div>
  </div>
</div>


<%# <%= link_to "sport", activities_path(tag: "sport") %>
<%# activities?query=Safe+senders+list&commit=Search %>
<%# <%= link_to "sport", "activities?query=#{xyz}$&commit=Search" %>
