<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= activity.tag %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= activity.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= activity.image %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= activity.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= activity.end %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= activity.location %>
  </p>

  <p>
    <strong>Free:</strong>
    <%= activity.free %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= activity.venue %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= activity.booking %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= activity.review_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= activity.user_id %>
  </p>

</div>
