<div class="margin-container">
  <h1>Activities</h1>

  <!-- filter and search section -->
  <div class="container container-search">

    <div class="search filter-button">
      <div>
        <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an activity"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="overlay hidden">
    </div>
    <button class="filter-button btn-open">
        <i class="fa-solid fa-arrow-up-wide-short fa-4x"></i>
        <h2>Filter</h2>
    </button>

  </div>

  <%= link_to "New Activity", new_activity_path %>

  <div>
    <ul class="cards-index">
      <% @activities.each do |activity| %>
        <a href="<%= activity_path(activity) %>">
          <li class="icard"><%= activity.name %></li>
        </a>
      <% end %>
    </ul>
  </div>
</div>

<!-- /filter and search section -->

<!-- /Modal -->
<%# this is the modal container %>

<section class="modal hidden">
  <div class="flex">
    <img src="https://avatars.githubusercontent.com/u/62628408?s=96&v=4" width="50px" height="50px" alt="user" />
    <button class="btn-close">⨉</button>
  </div>
  <div>
    <h3>Stay in touch</h3>
    <p>
      This is a dummy filter form so don't bother trying to test it. Not
      that I expect you to, anyways. :)
    </p>
  </div>

  <input type="email" id="email" placeholder="brendaneich@js.com" />
  <button class="btn">Do Something</button>
</section>


<!-- /Modal javascript -->
<script>
  const modal = document.querySelector(".modal");
  const overlay = document.querySelector(".overlay");
  const openModalBtn = document.querySelector(".btn-open");
  const closeModalBtn = document.querySelector(".btn-close");

  // close modal function
  const closeModal = function () {
    modal.classList.add("hidden");
    overlay.classList.add("hidden");
  };

  // close the modal when the close button and overlay is clicked
  closeModalBtn.addEventListener("click", closeModal);
  overlay.addEventListener("click", closeModal);

  // close modal when the Esc key is pressed
  document.addEventListener("keydown", function (e) {
    if (e.key === "Escape" && !modal.classList.contains("hidden")) {
      closeModal();
    }
  });

  // open modal function
  const openModal = function () {
    modal.classList.remove("hidden");
    overlay.classList.remove("hidden");
  };
  // open modal event
  openModalBtn.addEventListener("click", openModal);
</script>
<!-- /Modal javascript end -->

<!-- /Modal end -->
