<div class="margin-container">
  <h1>Activities </h1>

  <!-- filter and search section -->
  <div class="container container-search">
    <div class="search filter-button">
      <div>
        <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an activity"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <!--
    <div class="filter-button">
      <i class="fa-solid fa-arrow-up-wide-short fa-4x"></i>
      <h2>filter</h2>
    </div>
    -->
  </div>


  <%= link_to "New Activity", new_activity_path %>

  <div>
    <ul class="cards-index">
      <% @activities.each do |activity| %>
        <a href="<%= activity_path(activity) %>">
          <li class="icard"><%= activity.name %></li>
          <%= cl_image_tag activity.photo.key, alt: "activity-image", class: "card-img" %>
        </a>
      <% end %>

    </ul>
  </div>






  <!-- index area

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

  -->

</div>
