<div class="margin-container">
  <h1>Activities</h1>

  <%= link_to "New Activity", new_activity_path, class: "button-main" %>

  <!-- filter and search section -->
  <div class="container container-search">
    <div class="search">
      <div>
        <%= form_with url: activities_path, method: :get, class: "d-flex search-outline", html: {autocomplete: "off"} do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an activity..."
          %>
          <%#= submit_tag "Search", class: "button-search" %>
          <%= button_tag(type: "submit", class: "button-search") do %>
            <i class="fa-solid fa-lg fa-magnifying-glass"></i>
          <% end %>
        <% end %>
      </div>

      <div class="overlay hidden">
      </div>

      <button class="search-form btn-open">
          <i class="fa-solid fa-arrow-up-wide-short"></i>
          Filter
      </button>

    </div>

    <div class="overlay hidden"></div>

  </div>
</div>
<!-- /filter and search section -->

<!-- /Modal -->
<%# this is the modal container %>

<section class="modal hidden">
  <div class="flex">
    <img src="https://avatars.githubusercontent.com/u/62628408?s=96&v=4" width="50px" height="50px" alt="user" />
    <button class="btn-close">❌</button>
  </div>
  <div>

    <!-- Form -->
    <div>
      <%= form_with url: activities_path, method: :get, class: "d-flex modal-form" do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            placeholder: "Search" %>
        <%= text_field_tag :min,
                            params[:min],
                            class: "form-control",
                            placeholder: "Minimum price" %>
        <%= text_field_tag :max,
                            params[:max],
                            class: "form-control",
                            placeholder: "Maximum price" %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>
    <!-- Form -->

  </div>
</section>

<!-- index area -->
<div class="margin-container">
  <div class="category-card-container">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>

        <% if activity.photos.attached? %>
          <div class="card-category card-border" style="background: url('<%= cl_image_path activity.photos[0].key %>'); background-size: cover">
            <p class="centered"><%= activity.name %></p>
          </div>
        <% else %>
          <div class="card-category">
            <p class="centered"><%= activity.name %></p>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
<!-- /index area-->
