<div class="margin-container">
  <h1>Activities</h1>

  <%= link_to "New Activity", new_activity_path %>

  <!-- filter and search section -->
  <div class="container container-search">
    <div class="search">
      <div>
        <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an activity"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>

          <% end %>
        </div>
      </div>

      <div class="overlay hidden">
      </div>
      <button class="filter-button btn-open">
          <i class="fa-solid fa-arrow-up-wide-short fa-4x"></i>
          <h2>Filter</h2>
      </button>

    </div>

    <div class="overlay hidden"></div>

  </div>
</div>
<!-- /filter and search section -->

<!-- /Modal -->
<%# this is the modal container %>

<section class="modal hidden">
  <div class="flex">
    <img src="https://avatars.githubusercontent.com/u/62628408?s=96&v=4" width="50px" height="50px" alt="user" />
    <button class="btn-close">❌</button>
  </div>
  <div>

    <!-- Form -->
    <div>
      <%= form_with url: activities_path, method: :get, class: "d-flex modal-form" do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            placeholder: "Search" %>
        <%= text_field_tag :min,
                            params[:min],
                            class: "form-control",
                            placeholder: "Minimum price" %>
        <%= text_field_tag :max,
                            params[:max],
                            class: "form-control",
                            placeholder: "Maximum price" %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>
    <!-- Form -->

  </div>
</section>

<!-- index area -->
<div>
  <div class="margin-container">
    <div class="cards-index">
      <% @activities.each do |activity| %>
        <!-- make a icard -->
        <div class="card">
          <a href="<%= activity_path(activity) %>">
            <div class="card-category">
              <p class="centered"><%= activity.name %></p>
              <% if activity.photos.attached? %>
                <%= cl_image_tag activity.photos[0].key  %>
              <% else %>
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Bowlerbowling.JPG">
              <% end %>
              <!--<div class="info">
               <h5> <%= activity.name %></h5>
              </div>-->
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /index area-->
