<h1>Activities </h1>


<%= link_to "New Activity", new_activity_path %>

<!-- header -->
<div class="container">
  <img src="" alt="">
  <h1>Nano</h1>
</div>
<!-- /header -->


<!-- filter and search section -->
<div class="container container-search">
  <div class="search">
    <div>
      <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an activity"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>

    <div class="overlay hidden">
    </div>
    <button class="filter-button btn-open">
        <i class="fa-solid fa-arrow-up-wide-short fa-4x"></i>
        <h2>Filter</h2>
    </button>

  </div>

  <%= link_to "New Activity", new_activity_path %>

  <div>
    <ul class="cards-index">
      <% @activities.each do |activity| %>
        <a href="<%= activity_path(activity) %>">
          <li class="icard">
            <%= activity.name %>
            <%= cl_image_tag activity.photo.key %>
          </li>
        </a>

      <% end %>
    </div>
  </div>
  <div class="overlay hidden"></div>
  <button class="filter-button btn-open">
    <i class="fa-solid fa-arrow-up-wide-short fa-4x"></i>
    <h2>Filter</h2>
  </button>
</div>

<!-- /filter and search section -->

<!-- /Modal -->
<%# this is the modal container %>

<section class="modal hidden">
  <div class="flex">
    <img src="https://avatars.githubusercontent.com/u/62628408?s=96&v=4" width="50px" height="50px" alt="user" />
    <button class="btn-close">❌</button>
  </div>
  <div>

    <!-- Form -->
    <div>
      <%= form_with url: activities_path, method: :get, class: "d-flex modal-form" do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            placeholder: "Search" %>
        <%= text_field_tag :min,
                            params[:min],
                            class: "form-control",
                            placeholder: "Minimum price" %>
        <%= text_field_tag :max,
                            params[:max],
                            class: "form-control",
                            placeholder: "Maximum price" %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>
    <!-- Form -->

  </div>

  <input type="email" id="email" placeholder="brendaneich@js.com" />
  <button class="btn">Do Something</button>



</section>

<!-- index area -->
<div>
  <div class="margin-container">
    <div class="cards-index">
      <% @activities.each do |activity| %>
      <!-- make a icard -->
        <div class="card icard">
          <a href="<%= activity_path(activity) %>">
            <div class="icard-child">
              <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
              <div class="info">
               <h5> <%= activity.name %></h5>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /index area-->



<!-- /Modal javascript -->
<script>
const modal = document.querySelector(".modal");
const overlay = document.querySelector(".overlay");
const openModalBtn = document.querySelector(".btn-open");
const closeModalBtn = document.querySelector(".btn-close");

// close modal function
const closeModal = function () {
  modal.classList.add("hidden");
  overlay.classList.add("hidden");
};

// close the modal when the close button and overlay is clicked
closeModalBtn.addEventListener("click", closeModal);
overlay.addEventListener("click", closeModal);

// close modal when the Esc key is pressed
document.addEventListener("keydown", function (e) {
  if (e.key === "Escape" && !modal.classList.contains("hidden")) {
    closeModal();
  }
});

// open modal function
const openModal = function () {
  modal.classList.remove("hidden");
  overlay.classList.remove("hidden");
};
// open modal event
openModalBtn.addEventListener("click", openModal);
</script>
<!-- /Modal javascript end -->


<!-- /Modal end -->
