
<div class="top-container">
  <div class="image-container">
    <%= image_tag("index-image") %>
  </div>

  <div class="top-info-container">
    <div class="index-header">
      <% if params[:query].nil? || params[:query].gsub(/[\s\+]+/, "") == "" %>
        <h1>Activities</h1>
      <% else %>
        <h1><%= params[:query].capitalize %></h1>
      <% end %>
      <!--<h3><%= link_to "+", new_activity_path, class: "search-form" %></h3>-->
    </div>

    <!-- filter and search section -->
    <div class="container container-search">
      <div class="search">
        <!--<div>
          <%= form_with url: activities_path, method: :get, class: "d-flex search-outline", html: {autocomplete: "off"} do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an activity..."
            %>
            <%#= submit_tag "Search", class: "button-search" %>
            <%= button_tag(type: "submit", class: "button-search") do %>
              <i class="fa-solid fa-lg fa-magnifying-glass"></i>
            <% end %>
          <% end %>
        </div>

        <div class="overlay hidden">
        </div>-->

        <button class="search-form btn-open">
            <i class="fa-solid fa-lg fa-arrow-up-wide-short"></i>
            <h5>Filter</h5>
        </button>

      </div>

      <div class="overlay hidden"></div>

    </div>
  </div>
</div>


<!-- /filter and search section -->

<!-- /Modal -->
<%# this is the modal container %>

<section class="modal hidden">
  <div class="x-container">
    <h2>Filter</h2>
    <button class="btn-close fa-solid fa-xmark"></button>
  </div>
  <div>
    <div>
      <%= form_with url: activities_path, method: :get, class: "d-flex modal-form" do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            placeholder: "Search" %>
        <%#= text_field_tag :area,
                            params[:area],
                            class: "form-control",
                            placeholder: "Neighbourhood" %>
        <div class="checkbox-container">
          <%= label_tag "free", "Free" %>
          <%= check_box_tag :free,
                            params[:free] %>
        </div>
        <div class="checkbox-container">
          <%= label_tag "no_booking", "No booking required" %>
          <%= check_box_tag :no_booking,
                            params[:no_booking] %>
        </div>
        <div class="space-between-container">
          <%= text_field_tag :min,
                              params[:min],
                              class: "form-control",
                              placeholder: "Minimum price" %>
          <%= text_field_tag :max,
                              params[:max],
                              class: "form-control",
                              placeholder: "Maximum price" %>
        </div>
        <%= submit_tag "Search", class: "button-main" %>
      <% end %>
    </div>
    <!-- Form -->

  </div>
</section>

<!-- index area -->
<div class="margin-container">
  <div class="index-card-container">
    <% if @activities.count >0 %>
      <% @activities.each do |activity| %>
        <%= link_to activity_path(activity) do %>

          <% if activity.photos.attached? %>
            <div class="card-category card-border" style="background: url('<%= cl_image_path activity.photos[0].key %>'); background-size: cover">
              <p class="centered"><%= activity.name %></p>
            </div>
          <% else %>
            <div class="card-category">
              <p class="centered"><%= activity.name %></p>
            </div>
          <% end %>

        <% end %>
      <% end %>
    <% else %>
      <p>There's nothing here! ☹️</p>
    <% end %>
  </div>
</div>
<!-- /index area-->
