<!--carousel link -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">



<div class="half-container">
<div class="carousel-show" data-flickity='{ "pageDots":false, "wrapAround": true}'>
  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://cdn.shopify.com/s/files/1/0602/0707/1381/products/Frida-by-Sannib.png?v=1666184510">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/51BL4Cpt8tL._AC_.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://secure.img1-cg.wfcdn.com/im/25508192/resize-h445%5Ecompr-r85/1731/173123074/Flowers+Garden+by+Gustav+Klimt+-+Wrapped+Canvas+Painting.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://litb-cgis.rightinthebox.com/images/640x640/202109/bps/product/inc/ahijyf1630925030997.jpg">
  </div>


  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/61Jle4M4CGL._AC_SX679_.jpg">
  </div>
</div>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


  <div class="activity-info-container">
    <div class="space-between-container">
      <h1><%= @activity.name %></h1>
      <div class="widgets-container">
        <a href="#">Like button</a>
        <a href="#">Share button</a>
      </div>
    </div>

    <div class="space-between-container">
      <h2><%= @activity.price %></h2>
      <div class="rating-container">⭐⭐⭐⭐⭐</div>
    </div>

    <div class="tags-container">
      <% @activity.tag.each do |tag| %>
        <a href="<%= activities_path(query: tag) %>"><%= tag %></a>
      <% end %>
    </div>

    <p class="description"><%= @activity.description %></p>
  </div>
</div>

<div class="margin-container">
  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  ><iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/kiranjaimon/clb3nrkra000014jys7smut2s.html?title=false&access_token=pk.eyJ1Ijoia2lyYW5qYWltb24iLCJhIjoiY2xiM2t3YW92MGE1cTN3bXR2cXI3a2xzaiJ9.lRdocb8U5mw1CVf3mW7BpQ&zoomwheel=false#0.55/2.6/-6.4" title="Navigation" style="border:none;"></iframe>
  </div>


  <div class="reviews-container">
    <h2>Reviews</h2>
    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">⭐⭐⭐⭐⭐</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>

    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">⭐⭐⭐⭐⭐</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>

    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">⭐⭐⭐⭐⭐</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>
  </div>

</div>
