<!--carousel link -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">



<div class="half-container">
<div class="carousel-show" data-flickity='{ "pageDots":false, "wrapAround": true}'>

  <% @activity.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
  <% end %>

</div>

  <div class="activity-info-container">
    <div class="space-between-container">
      <h1><%= @activity.name %></h1>
      <h2>£<%= @activity.price %></h2>
    </div>

    <div class="space-between-container">
      <div class="rating-container">★★★★★</div>
      <div class="widgets-container">
        <a href="#" class="button-circle">💖</a>
        <a href="#" class="button-circle">🔗</a>
      </div>
    </div>


    <p class="description"><%= @activity.description %></p>


    <%= link_to "Delete",
      activity_path(@activity),
      class: "button-main",
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@activity).destroy?
    %>
    <hr>

    <div class="tags-container">
      <% @activity.tag.each do |tag| %>
        <a href="<%= activities_path(tags: tag) %>" class="show-tag"><%= tag %></a>
      <% end %>
    </div>

    <div class="tags-container-alt">
      <% if @activity.free %>
        <a href="<%= activities_path(tags: tag) %>" class="show-tag">Free</a>
      <% end %>

      <% if !@activity.booking %>
        <a href="<%= activities_path(tags: tag) %>" class="show-tag">No booking</a>
      <% end %>
    </div>

  </div>
</div>

<div class="margin-container">
  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="reviews-container">
    <h2>Reviews</h2>
    <% @activity.reviews.each do |review| %>
    <li class = "list-group-item">
        <div class="review-container">
          <div class="space-between-container">
            <h3 class="review-title"><%= review.title %></h3>
              <small>
                <% count = 0 %>
                  <% 5.times do %>
                    <% if review.rating > count %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% count += 1 %>
                  <% end %>
              </small>
          </div>
            <p class="review-description"><%= review.comment %></p>
        </div>
    </li>
    <% end %>
  </div>

    <%# <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">★★★★★</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>

    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">★★★★★</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div> %>
  <%# </div> %>

<%= simple_form_for [@activity, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :title%>
        <%= f.input :comment%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all activities", activities_path %>

</div>
