<!--carousel link -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">



<div class="half-container">
<div class="carousel-show" data-flickity='{ "pageDots":false, "wrapAround": true}'>
  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://cdn.shopify.com/s/files/1/0602/0707/1381/products/Frida-by-Sannib.png?v=1666184510">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/51BL4Cpt8tL._AC_.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://secure.img1-cg.wfcdn.com/im/25508192/resize-h445%5Ecompr-r85/1731/173123074/Flowers+Garden+by+Gustav+Klimt+-+Wrapped+Canvas+Painting.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://litb-cgis.rightinthebox.com/images/640x640/202109/bps/product/inc/ahijyf1630925030997.jpg">
  </div>


  <!--carousel cell-->
  <div class="carousel-cell-show">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/61Jle4M4CGL._AC_SX679_.jpg">
  </div>
</div>

  <div class="activity-info-container">
    <div class="space-between-container">
      <h1><%= @activity.name %></h1>
      <h2>£<%= @activity.price %></h2>
    </div>

    <div class="space-between-container">
      <div class="rating-container">★★★★★</div>
      <div class="widgets-container">
        <a href="#" class="button-circle">💖</a>
        <a href="#" class="button-circle">🔗</a>
      </div>
    </div>


    <p class="description"><%= @activity.description %></p>
    <hr>

    <div class="tags-container">
      <% @activity.tag.each do |tag| %>
        <a href="<%= activities_path(tags: tag) %>" class="show-tag"><%= tag %></a>
      <% end %>
    </div>

  </div>
</div>

<div class="margin-container">
  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="reviews-container">
    <h2>Reviews</h2>
    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">★★★★★</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>

    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">★★★★★</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>

    <div class="review-container">
      <div class="space-between-container">
        <h3 class="review-title">Title</h3>
        <div class="review-rating">★★★★★</div>
      </div>
      <p class="review-description">This is a description.</p>
    </div>
  </div>

</div>
